<h1>Question & answer</h1>
<div class = "conversation">
  <p><%= @question %><br/><em>-You</em></p>
  <p class = answer><strong><%= @answer %></strong></br><em>-Your coach</em></p>

</div>
<a><%= link_to "Ask a new question", ask_path %></a>



